---
// @composites/Quotes.astro

interface QuoteAuthor {
	name: string
	byline: string
}

interface QuoteItem {
	full?: string
	author: QuoteAuthor
}

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	quotes?: QuoteItem[]
	masonry?: boolean
}

const {
	tag: Quotes = 'section',
	quotes = [],
	masonry = true,
	class: classes,
	...attrs
} = Astro.props as Props

const list = quotes.filter((q) => q.full)
---

<Quotes
	data-pbl-quotes
	{...attrs}
	class:list={[
		'w-full',
		masonry && [
			'columns-1 md:columns-2 lg:columns-3',
			'space-y-(--space)',
			'*:break-inside-avoid',
		],
		classes,
	]}>
	{
		list.map(({ full, author }) => (
			<blockquote
				data-pbl-stagger-in
				class:list={[
					'font-script md:max-w-[55ch]',
					'text-[1.35rem] leading-tight',
					'text-(--body-dark-fixed)',
					'flex flex-col gap-y-3',
				]}>
				<p set:text={full} />

				<cite
					class:list={[
						'not-italic',
						'flex flex-col -space-y-1',
						'opacity-70',
					]}>
					<span set:text={author.name} />
					<span class='flex gap-x-2'>
						<span set:text={'~'} />
						<span set:text={author.byline} />
					</span>
				</cite>
			</blockquote>
		))
	}
</Quotes>
