---
// @blocks/modals/ReelReveal.astro

import Avatar from '@atoms/Avatar.astro'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	class?: string
}

const {
	tag: ReelReveal = 'div',
	class: classes,
	...attrs
} = Astro.props as Props
---

<ReelReveal
	data-pbl-reel
	{...attrs}
	class:list={[
		'fixed inset-0 z-50',
		'grid place-items-center',
		'opacity-0 pointer-events-none',
		'scale-50',
		classes,
	]}>
	<div data-pbl-reel-stage class='relative size-full overflow-clip bg-black'>
		<div
			data-pbl-reel-shade-top
			aria-hidden='true'
			class='absolute inset-x-0 top-0 h-1/2 bg-black origin-bottom'>
		</div>

		<div
			data-pbl-reel-shade-bottom
			aria-hidden='true'
			class='absolute inset-x-0 bottom-0 h-1/2 bg-black origin-top'>
		</div>

		<div
			data-pbl-reel-content
			class:list={[
				'relative z-10 size-full bg-black flex items-center justify-center',
				'[&>iframe]:aspect-video [&>iframe]:w-full [&>iframe]:max-w-7xl [&>iframe]:lg:rounded-2xl',
			]}>
			<slot />
		</div>

		<Avatar
			data-pbl-dismiss
			aria-label='Close'
			icon='x-close'
			class:list={['fixed top-2.5 right-1.5 lg:right-3 lg:top-3', 'z-50']}
		/>
	</div>
</ReelReveal>
