---
// @blocks/partials/Clip.astro

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	class?: string

	video: string
	clip?: string
	duration?: string
}

const {
	tag: Clip = 'div',
	class: classes,
	video,
	clip,
	duration = '3:22',
	...attrs
} = Astro.props as Props
---

<Clip
	{...attrs}
	class:list={[
		'relative rounded-2xl overflow-clip',
		'w-full px-(--space-page) lg:px-0',
		'aspect-video',
		classes,
	]}>
	<video
		class='size-full object-cover rounded-[inherit] align-middle'
		src={video}
		poster={clip}
		autoplay
		muted
		loop
		playsinline
		preload='metadata'></video>

	<span
		aria-hidden='true'
		class:list={[
			'absolute bottom-(--space-page) right-(--space-page) mr-(--space-page)',
			'lg:bottom-[calc(var(--space-page)/2)] lg:right-[calc(var(--space-page)/2)] lg:mr-0',
			'rounded-md px-2 py-1.5 text-xs font-medium leading-none',
			'bg-(--primary)/55 text-white backdrop-blur-sm',
		]}>
		{duration}
	</span>
</Clip>
