---
// @blocks/partials/Quote.astro

import Icon from '@atoms/Icon.astro'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	pulls: string[]
	duration?: number
	class?: string
}

const {
	tag: Quote = 'aside',
	pulls = [],
	duration = 1000,
	class: classes,
	...attrs
} = Astro.props as Props

const first = pulls?.[0] ?? ''
---

<Quote
	data-pbl-quote
	data-pbl-quote-pulls={JSON.stringify(pulls)}
	data-pbl-quote-duration={String(duration)}
	{...attrs}
	class:list={[
		'pbl-quote',
		'rotate-[-5deg] origin-top-left md:-translate-y-4',
		classes,
	]}>
	<blockquote
		data-pbl-quote-text
		class:list={[
			'text-xl leading-tight font-script text-(--primary-fixed) max-w-[50ch] mx-auto',
			'line-clamp-3 h-20 overflow-clip',
		]}>
		{first}
	</blockquote>
<<<<<<< HEAD
	<div class='flex justify-center pt-1 -ml-4'>
=======
	<div class='flex justify-center pt-1 -ml-4.5'>
>>>>>>> 7c52252 (status quo)
		<Icon
			data-pbl-quote-pulser
			name='pulser'
			class='size-2 text-(--primary-fixed)'
		/>
	</div>
</Quote>
