---
// @blocks/partials/Quote.astro

import Icon from '@atoms/Icon.astro'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	pull: string
	class?: string
}

const {
	tag: Quote = 'div',
	pull,
	class: classes,
	...attrs
} = Astro.props as Props
---

<Quote {...attrs} class:list={['pbl-quote', classes]}>
	<div
		class='rotate-[-5deg] origin-top-left -translate-y-px md:-translate-y-4'>
		<blockquote
			class:list={[
				'text-xl leading-tight font-script text-(--primary-fixed) mx-auto max-w-[45ch]',
				'line-clamp-3',
			]}>
			{`"${pull}"`}
		</blockquote>
	</div>

	<div class:list={['flex justify-center -mt-2 md:-mt-4']}>
		<Icon name='pulser' class='size-2 text-(--primary-fixed)' />
	</div>
</Quote>
