---
// @blocks/partials/Quote.astro

import Icon from '@atoms/Icon.astro'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	pull: string
	class?: string
}

const {
	tag: Quote = 'aside',
	pull,
	class: classes,
	...attrs
} = Astro.props as Props
---

<Quote
	{...attrs}
	class:list={[
		'col-span-full row-start-2 md:col-span-4 md:col-start-5 lg:col-span-4 lg:col-start-9',
		'p-[clamp(1rem,2.5vw,2.5rem)] md:py-0!',
		classes,
	]}>
	<div
		class:list={[
			'mx-auto max-w-[40ch] rotate-[-5deg] origin-top-left -translate-y-px md:-translate-y-4',
		]}>
		<blockquote
			class:list={[
				'text-lg md:text-xl leading-tight font-script text-(--accent-fixed)',
			]}>
			{`"${pull}"`}
		</blockquote>
	</div>

	<div class:list={['flex justify-center -mt-3 md:-mt-4']}>
		<Icon name='pulser' class='size-2 text-(--accent-fixed)' />
	</div>
</Quote>
