---
// @blocks/partials/Quote.astro

import Icon from '@atoms/Icon.astro'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	pull: string
	class?: string
}

const {
	tag: Quote = 'aside',
	pull,
	class: classes,
	...attrs
} = Astro.props as Props
---

<Quote
	data-pbl-quote
	{...attrs}
	class:list={[
		'pbl-quote',
		'rotate-[-5deg] origin-top-left -translate-y-px md:-translate-y-4',
		classes,
	]}>
	<blockquote
		class:list={[
			'text-xl leading-tight font-script text-(--primary-fixed) max-w-[45ch] mx-auto',
			'line-clamp-4',
		]}>
		{`"${pull}"`}
	</blockquote>

	<div class:list={['flex justify-center pt-[calc(var(--space)/3.5)]']}>
		<Icon name='pulser' class='size-2 text-(--primary-fixed)' />
	</div>
</Quote>
