/* src/styles/colors.css */

@theme {
    /* Base */
    --base-white: #ffffff;
    --base-black: #000000;

    /* Blue scale, Felix */
    --color-blue-50:  #e7eff4;
    --color-blue-100: #cee0e9;
    --color-blue-150: #b6d0de;
    --color-blue-200: #9ec0d3;
    --color-blue-250: #86b1c8;
    --color-blue-300: #6da1bd;
    --color-blue-350: #5591b2;
    --color-blue-400: #3d81a7;
    --color-blue-450: #24729c;
    --color-blue-500: #0c6291;

    --color-blue-550: #0b5883;
    --color-blue-600: #0a4e74;
    --color-blue-650: #084566;
    --color-blue-700: #073b57;
    --color-blue-750: #063149;
    --color-blue-800: #05273a;
    --color-blue-850: #041d2c;
    --color-blue-900: #02141d;
    --color-blue-950: #010a0f;

    /* Slate scale, Great Void */
    --color-slate-50:  #eceeef;
    --color-slate-100: #d8dddf;
    --color-slate-150: #c5cdd0;
    --color-slate-200: #b1bcc0;
    --color-slate-250: #9eabb0;
    --color-slate-300: #8b9aa0;
    --color-slate-350: #778990;
    --color-slate-400: #647981;
    --color-slate-450: #506871;
    --color-slate-500: #3d5761;

    --color-slate-550: #374e57;
    --color-slate-600: #31464e;
    --color-slate-650: #2b3d44;
    --color-slate-700: #25343a;
    --color-slate-750: #1f2c31;
    --color-slate-800: #182327;
    --color-slate-850: #121a1d;
    --color-slate-900: #0c1113;
    --color-slate-950: #06090a;

    /* Amber scale, Arrowwood */
    --color-amber-50:  #f7f3e9;
    --color-amber-100: #f0e7d2;
    --color-amber-150: #e8dbbc;
    --color-amber-200: #e0cfa5;
    --color-amber-250: #d9c48f;
    --color-amber-300: #d1b879;
    --color-amber-350: #c9ac62;
    --color-amber-400: #c1a04c;
    --color-amber-450: #ba9435;
    --color-amber-500: #b2881f;

    --color-amber-550: #a07a1c;
    --color-amber-600: #8e6d19;
    --color-amber-650: #7d5f16;
    --color-amber-700: #6b5213;
    --color-amber-750: #594410;
    --color-amber-800: #47360c;
    --color-amber-850: #352909;
    --color-amber-900: #241b06;
    --color-amber-950: #120e03;
}