/* src/styles/fonts.css */

@font-face {
	font-family: 'Nanum Pen Script';
	src: url('/fonts/NanumPenScript-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}