@import 'tailwindcss';
@import "./colors.css";
@import "./theme.css";

@plugin '@tailwindcss/typography';

@theme {
    /* Fonts */
    --font-script: 'Nanum Pen Script', ui-rounded, system-ui, sans-serif;
}

button { text-align: inherit; @apply cursor-pointer; }
svg { @apply pointer-events-none shrink-0 fill-current; }
button > span { @apply pointer-events-none; }

@import './utils.css';