@layer base {
	:root {
		/* Semantic usage, light */
		--text-emphasis: var(--color-blue-900);
		--text-body: var(--color-slate-500);
		--text-body-dark-fixed: var(--color-slate-500);
		--text-muted: var(--color-blue-700);

		--border-default: var(--color-blue-100);

		--primary: var(--color-blue-500);
		--primary-fixed: var(--color-blue-500);
		--primary-contrast: var(--base-white);

        --accent: var(--color-amber-500);
        --accent-fixed: var(--color-amber-500);
        --accent-hairline: var(--color-amber-200);

        --neutral: var(--base-white);
        --neutral-fixed-black: var(--base-black);

		@media (prefers-color-scheme: dark) {

		}
	}
}