@layer base {
	:root {
		/* Semantic usage, light */
		--bg-primary: var(--base-white);
		--bg-elevated: var(--color-blue-50);

		--text-emphasis: var(--color-blue-900);
		--text-body: var(--color-blue-800);
		--text-muted: var(--color-blue-700);

		--border-default: var(--color-blue-100);

		--accent: var(--color-blue-500);
		--accent-fixed: var(--color-blue-500);
		--accent-contrast: var(--base-white);

		@media (prefers-color-scheme: dark) {
			/* Semantic usage, dark */
			--bg-primary: var(--color-blue-900);
			--bg-elevated: var(--color-blue-850);

			--text-emphasis: var(--base-white);
			--text-body: var(--color-blue-100);
			--text-muted: var(--color-blue-200);

			--border-default: var(--color-blue-750);

			--accent: var(--color-blue-300);
			--accent-contrast: var(--color-blue-900);
		}
	}
}