@layer base {
	:root {
		/* Semantic usage, light */
		--emphasis: var(--color-blue-900);
		--body: var(--color-slate-500);
		--body-dark-fixed: var(--color-slate-500);
		--text-fallback-fixed: var(--color-slate-700);

		--border-default: var(--color-blue-100);

		--primary: var(--color-blue-500);
		--primary-fixed: var(--color-blue-500);
		--primary-contrast: var(--base-white);

        --accent: var(--color-amber-500);
        --accent-fixed: var(--color-amber-500);
        --accent-hairline: var(--color-amber-200);
        --accent-muted: var(--color-amber-100);

        --interactive-muted: var(--color-stone-400);
        --interactive-active: var(--color-stone-800);

        --neutral: var(--base-white);
        --neutral-fixed-black: var(--base-black);

        --elev-on-dark: var(--color-stone-900);

		@media (prefers-color-scheme: dark) {

		}
	}
}