---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import { components } from '@scripts/components/components'

interface Props {
	entry: any
	data: {
		title: string
		description: string
	}
	Content: any
	headings?: any
}

const { data, Content } = Astro.props as Props
---

<div class='max-w-384 mx-auto w-full'>
	<header class='p-[clamp(1rem,2.5vw,2.5rem)]'>
		<div>
			<Icon name='logo' class='w-[clamp(6.5rem,8vw,7.5rem)]' />
		</div>
	</header>
</div>

<section>
	<h1>{data.title}</h1>
	<p>{data.description}</p>

	<Content components={components} />
</section>
