---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'
import Quote from '@blocks/partials/Quote.astro'
import { _getYear } from '@scripts/data/get-year'

interface Props {
	entry: any
	data: {
		title: string
		description: string
		hero: {
			pretitle: string
			title: string
			subtitle: string
			lede: string
		}
	}
	Content: any
	headings?: any
}

const { data } = Astro.props as Props
const { hero } = data

const quotes = await _getYear('2025', 1)
const quote = quotes?.[0]
const pull = quote?.data?.quote?.pull
---

<div class='relative isolate max-w-420 mx-auto w-full min-h-dvh'>
	<Backdrop />

	<div
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 auto-rows-min items-start'>
		<header class='col-span-full p-[clamp(1rem,2.5vw,2.5rem)]'>
			<Icon name='logo' class='w-[clamp(6rem,7vw,7.5rem)]' />
		</header>

		{pull && <Quote pull={pull} />}

		<Masthead
			class='col-span-full justify-self-center lg:col-start-2 lg:col-span-10 p-[clamp(1rem,2.5vw,2.5rem)]'
		/>
	</div>
</div>
