---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import { components } from '@scripts/components/components'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'

interface Props {
	entry: any
	data: {
		title: string
		description: string
		hero: {
			pretitle: string
			title: string
			subtitle: string
			lede: string
		}
	}
	Content: any
	headings?: any
}

const { data, Content } = Astro.props as Props
const { hero } = data
---

<div class='max-w-384 mx-auto w-full p-[clamp(1rem,2.5vw,2.5rem)]'>
	<Backdrop />
	<header class='pb-[clamp(1rem,2.5vw,2.5rem)]'>
		<div>
			<Icon name='logo' class='w-[clamp(6.5rem,8vw,7.5rem)]' />
		</div>
	</header>

	<Masthead hero={hero} />
</div>
