---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'
import Quote from '@blocks/partials/Quote.astro'
import { _getYear } from '@scripts/data/get-year'
import Reel from '@composites/Reel.astro'

interface Props {
	entry: any
	data: {
		title: string
		description: string
	}
	Content: any
	headings?: any
}

const { data } = Astro.props as Props

const quotes = await _getYear('2025', 1)
const quote = quotes?.[0]
const pull = quote?.data?.quote?.pull
---

<div class='relative isolate max-w-420 mx-auto w-full min-h-dvh'>
	<Backdrop />

	<div
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 auto-rows-min items-start'>
		<header class='col-span-full p-(--space-page)'>
			<Icon name='logo' class='w-[clamp(6rem,7vw,7.5rem)]' />
		</header>
		<aside
			class:list={[
				'col-span-full row-start-2 md:col-span-4 md:col-start-5 lg:col-span-4 lg:col-start-9',
				'p-(--space-page) md:py-0!',
				'z-30',
			]}>
			{pull && <Quote pull={pull} />}
		</aside>

		<Masthead
			class:list={[
				'col-span-full justify-self-center lg:col-start-2 lg:col-span-10',
				'p-(--space-page) lg:pb-0',
				'z-30',
			]}
		/>
		<p
			class:list={[
				'col-span-full row-start-4 lg:col-start-8 lg:col-end-11 lg:justify-self-end',
				'p-(--space-page) lg:px-0 lg:p-0',
				'text-(--text-body-dark-fixed) text-lg lg:text-xl leading-snug max-w-[42ch]',
				'z-30',
			]}>
			{data.description}
		</p>

		<Reel
			class:list={[
				'col-span-full row-start-5 flex justify-center',
				'p-(--space-page)',
				'lg:col-start-7 lg:col-end-12',
			]}
		/>
	</div>
</div>
