---
// @layouts/templates/Year.astro

import Icon from '@atoms/Icon.astro'
import Backdrop from '@atoms/Backdrop.astro'
import Masthead from '@blocks/Masthead.astro'

interface Props {
	entry: any
	data: {
		title: string
		description: string
		hero: {
			pretitle: string
			title: string
			subtitle: string
			lede: string
		}
	}
	Content: any
	headings?: any
}

const { data } = Astro.props as Props
const { hero } = data
---

<div class='relative isolate max-w-420 mx-auto w-full min-h-dvh'>
	<Backdrop />

	<div
		class='grid grid-cols-4 md:grid-cols-8 lg:grid-cols-12 auto-rows-min items-start'>
		<header class='col-span-full p-[clamp(1rem,2.5vw,2.5rem)]'>
			<Icon name='logo' class='w-[clamp(6rem,7vw,7.5rem)]' />
		</header>

		<Masthead
			class='col-span-full justify-self-center lg:col-start-2 lg:col-span-10'
		/>
	</div>
</div>
