---
// @blocks/CarouselMini.astro
import { _getGallery } from '@scripts/data/get-gallery'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	year: string
	limit?: number
}

const {
	tag: CarouselMini = 'div',
	year,
	limit = 7,
	class: classes,
	...attrs
} = Astro.props as Props

const gallery = await _getGallery(year, limit)
const demo = gallery.slice(0, 3)
---

<CarouselMini {...attrs} class:list={[classes]}>
	<ul class:list={['grid grid-cols-7 items-end', 'select-none gap-3 overflow-hidden']}>
		{
			demo.map((item, idx) => {
				const isCenter = idx === 1
				const span = isCenter ? 'col-span-3' : 'col-span-2'

				return (
					<li
						class:list={[
							span,
							'overflow-hidden rounded-xl',
							'aspect-4/5',
							isCenter ? 'z-20' : 'z-10 opacity-90',
						]}>
						<img
							src={item.image}
							alt={item.altText ?? item.title}
							loading='lazy'
							decoding='async'
							class='h-full w-full object-cover'
						/>
					</li>
				)
			})
		}
	</ul>
</CarouselMini>
