---
// @blocks/CarouselMini.astro
import { _getGallery } from '@scripts/data/get-gallery'

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	year: string
	limit?: number
}

const {
	tag: CarouselMini = 'div',
	year,
	limit = 7,
	class: classes,
	...attrs
} = Astro.props as Props

const gallery = await _getGallery(year, limit)
const demo = gallery.slice(0, 3)
const IMG_WIDTH = 768
const nimg = (url: string) =>
	`/.netlify/images?url=${encodeURIComponent(url)}&w=${IMG_WIDTH}&q=100&auto=format`
---

<CarouselMini {...attrs} class:list={[classes]}>
	<ul class='grid grid-cols-7 items-end gap-1 select-none'>
		{
			demo.map((item, idx) => (
				<li
					class:list={[
						'overflow-clip rounded-xl aspect-4/5 w-full',
						idx === 1 &&
							'col-span-3 -translate-y-[calc(var(--space)*1.5)] sm:-translate-y-[calc(var(--space)*2.5)] lg:-translate-y-[calc(var(--space)*0.75)] lg:max-h-44',
						idx === 0 &&
							'col-span-2 -rotate-12 origin-bottom-left opacity-50 lg:max-h-32',
						idx === 2 &&
							'col-span-2 rotate-12 origin-bottom-right opacity-50 lg:max-h-32',
					]}>
					<img
						src={nimg(item.image)}
						srcset={`${nimg(item.image)} 1x`}
						sizes='(min-width: 1024px) 152px, 33vw'
						alt={item.altText ?? item.title}
						loading='lazy'
						decoding='async'
						class='size-full object-cover object-center'
					/>
				</li>
			))
		}
	</ul>
</CarouselMini>
