---
// @blocks/Masthead.astro

interface Props extends HTMLAttributes {
	tag?: keyof HTMLElementTagNameMap
	class?: string
	hero: {
		pretitle: string
		title: string
		subtitle: string
		lede: string
	}
}

const {
	tag: Masthead = 'div',
	class: classes,
	hero,
	...attrs
} = Astro.props as Props
---

<Masthead {...attrs} class:list={['masthead', classes]}>
	<p class='text-[clamp(0.95rem,1.2vw,1.05rem)] tracking-[0.02em]'>
		{hero.pretitle}
	</p>
	<h1
		class='text-[clamp(3.25rem,15vw,11.5rem)] tracking-tight leading-[0.96] font-semibold'>
		{hero.title}
	</h1>
	<p
		class='text-[clamp(1.595rem,5.75vw,5.65rem)] font-medium leading-[0.95] uppercase tracking-widest ml-1'>
		{hero.subtitle}
	</p>
	<p
		class='mt-[clamp(0.75rem,1.5vw,1.25rem)] text-[clamp(1.1rem,1.8vw,1.5rem)] leading-tight'>
		{hero.lede}
	</p>
</Masthead>
